button{
    cursor: pointer;
    text-align: center;
    text-wrap: nowrap;
}    

.btn-outline{
    font-size: 15px;
    padding: 5px 15px;
    background: none;
    border: 1px solid;
    border-radius: 15px;
}

.btn-outline:hover{
    background-color: #c9c6c65e;
}

.btn-primary{
    font-size: 15px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
}

.btn-primary:hover{
    background-color: rgba(0, 0, 0, 0.733);
}