/*Seção favorites*/
.section-favorites{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.header-favorites{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-color: #f1f8f6;
    padding: 2em 0 0 0;
    h1{
        font-size: xx-large;
    }
    .points-bar{
        display: flex;
        flex-direction: row;
        button{
          background: none;  
          border: none;
          font-size: 24px;
          padding: 0.5em 1.5em;
        }
        span{
            font-size: small;
        }
        
    } 
    
}
.contents-favorites{
    display: flex;
    flex-direction: column;
    background-color: #d4e9e2;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 7px 9px -7px #00000024;
}


.span-star-icon{
    color: #cba258;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding: 2em;
    img{
        height: 200px;
    }
    .description{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        width: 22em;
    } 
}

.btn-points.active {
    border-bottom: 4px solid #008248 !important;
}
.contents-favorites .content {
    display: none;
}

.contents-favorites .content.active {
    display: flex;
}
